{% extends 'admin/base.html' %}
{% block content %}
            <!--  Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div style="justify-content: space-between;"class="d-flex  mb-4">
                        <h6 class="mb-0">Products</h6>

                    <form style = " width:max-content; color: black" action="" method = "get" role="search">
                        <input  type="search" placeholder="Search Product" name="search_product">
                        <button class="btn-primary searchbtn" type="submit">Search</button>
                    </form>



                        <form class="d-none d-md-flex mb-3 ">
                            
                                
                            <select class="form-select form-select-xs " style="width: max-content;" name="filter_product" onchange="this.form.submit()">
                                <option value="sort by">Sort by</option>
                                <option value="name">Name</option>
                                <option value="created_at">Date</option>
                                <option value="category">Category</option>
                                <option value="price">Price</option>
                            </select>
                        </form>



                    </div>

                    
                    {% for message in messages %}
                    <span style = "color:red;">{{ message }}</span>
                    {% endfor %}


                    
                    {% comment %} add product button {% endcomment %}

                    <div style="text-align:end; margin-right:2%; margin-bottom:1%;">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#addproductmodal">
                            Add product
                        </button>
                    </div>

                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Image</th>
                                    
                                    
                                    <th scope="col">Stock</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Active/Hide</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in pdt%}
                                <tr>
                                    <td>

                                        {{product.id}}
                                    </td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.price}}</td>
                                    <td>
                                        {% for image in product.productimage_set.all%}
                                        <img src= "{{image.image.url}}" alt="{{product.name}}" style="max-height: 100px;">
                                        {% endfor %}
                                        
                                    </td>
                                
                                    <td>{{product.stock}}</td>

                                    
                                    <td>
                                        {{product.category.name}}
                                        

                                    </td>

                                    <td>
                                        <form action="{% url 'productactivate' product.id %}" method='post'>
                                            {% csrf_token %}

                                            <select class="form-select form-select-xs mb-3 " style="width: max-content;"
                                                name="action" onchange="this.form.submit()">
                                                <option {% if not product.is_active %} selected {% endif %}
                                                    value='hide'>Hide</option>
                                                <option{% if product.is_active %} selected {% endif %} value='activate'>Active
                                                    </option>

                                            </select>
                                           
                                        </form>

                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#editProductModal-{{product.id}}">
                                            Edit
                                        </button>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                            data-target="#deleteProductModal-{{product.id}}">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% comment %} Add product modal {% endcomment %}

                <div class="modal fade" id="addproductmodal" tabindex="-1" aria-labelledby="addproductmodalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="addproductmodalLabel">Add product</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <form action="{% url 'add-product' %}" enctype="multipart/form-data" method="post">

                                    {% csrf_token %}


                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label>Name</label>
                                            <input name="name" type="text" class="form-control" required>
                                        </div>

                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea name="description" class="form-control" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Short Description</label>
                                            <input name="shortdescription" type="text" class="form-control" required>
                                        </div>

                                        <div class="form-group">
                                            <label>Price</label>
                                            <input name="price" type="number" class="form-control" step="any" required>
                                        </div>

                                        <div class="form-group">
                                            <label>Sale Price</label>
                                            <input name="sale_price" type="number" class="form-control" step="any" required>
                                        </div>

                                        <div class="form-group">
                                            <label>Image</label>
                                            <input name="images" type="file" class="form-control" multiple required>
                                        </div>

                                        <div class="form-group">
                                            <label>Tag</label>
                                            <input name="tag" type="text" class="form-control" required>
                                        </div>

                                        <div class="form-group">
                                            <label>Stock</label>
                                            <input name="stock" type="number" class="form-control" required >
                                        </div>

                                

                                        <div class="form-group">
                                            <label>Category</label>
                                            <select name="category" class="form-control" required>
                                                <option value="" >Select a category</option>
                                                {% for category in ctgy %}
                                                <option  value="{{ category.id }}">{{ category.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>is_active</label>
                                            <input name="is_active" type="checkbox" >
                                        </div>


                                        <div class="form-group">
                                            <label>is_featured</label>
                                            <input name="is_featured" type="checkbox" >
                                        </div>

                                        <div class="form-group">
                                            <label>is_sale</label>
                                            <input name="is_sale" type="checkbox" >
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-bs-dismiss="modal"
                                            value="Cancel">
                                        <input type="submit" class="btn btn-success" value="Add">
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>

                {% comment %} Edit modal {% endcomment %}

                {% for product in pdt%}
                <div class="modal fade" id="editProductModal-{{product.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="editProductModalLabel-{{product.id}}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editProductModalLabel-{{product.id}}">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form action="{% url 'update-product' id=product.id %}" enctype="multipart/form-data" method="post">

                                    {% csrf_token %}


                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label>Name</label>
                                            <input name="name" value="{{ product.name }}" type="text"
                                                class="form-control" required>
                                        </div>

                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea name="description" class="form-control" required>{{ product.description}}</textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Short Description</label>
                                            <input name="shortdescription" value="{{ product.short_description }}" type="text"
                                                class="form-control" required>
                                        </div>

                                        <div class="form-group">
                                            <label>Price</label>
                                            <input name="price" value="{{ product.price }}" type="number"
                                                class="form-control" step="any" required>
                                        </div>

                                        <div class="form-group">
                                            <label>Sale Price</label>
                                            <input name="sale_price" value="{{ product.sale_price }}" type="number"
                                                class="form-control" step="any" required>
                                        </div>


                                       <div class="form-group">
                                        <label>Current Images </label>
                                        {% for image in product.productimage_set.all%}
                                        <img style = "width:10%; height:10%" src ="/media/{{image.image}}" alt = "{{image.image}}" required>
                                        {% endfor %}
                                       </div>


                                       <div class="form-group">
                                        <label> New Images(Optional)</label>
                                        <input name="images" type="file"  class="form-control" multiple>
                                       </div>

                                        <div class="form-group">
                                            <label>Tag</label>
                                            <input name="tag" value="{{ product.tag }}" type="text"
                                                class="form-control" required>
                                        </div>

                                        <div class="form-group">
                                            <label>Stock</label>
                                            <input name="stock" value="{{ product.stock }}" type="number"
                                                class="form-control" required>
                                        </div>

                                    

                                        <div class="form-group">
                                            <label>Category</label>
                                            <select name="category" class="form-control" required>
                                                {% for category in ctgy %}
                                                <option value="{{ category.id }}" {% if product.category.id == category.id %} selected {% endif %}>{{ category.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>is_active</label>
                                            <input name="is_active" {% if product.is_active %} checked {% endif %} type="checkbox">
                                        </div>


                                        <div class="form-group">
                                            <label>is_featured</label>
                                            <input name="is_featured" {% if product.is_featured %} checked {% endif %} type="checkbox">
                                        </div>

                                        <div class="form-group">
                                            <label>is_sale</label>
                                            <input name="is_sale" {% if product.is_sale %} checked {% endif %} type="checkbox">
                                           
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                       

                                        <input type="button" class="btn btn-default" data-dismiss="modal"
                                            value="Close">

                                        <input type="submit" class="btn btn-success" value="update">
                                    </div>
                                </form>

                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}

                {% comment %} delete product {% endcomment %}

                {% for product in pdt%}
                <div class="modal fade" id="deleteProductModal-{{product.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="deleteProductModal-{{product.id}}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form>
                               {% csrf_token%}
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteProductModal-{{product.id}}">Detele product</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete <span style="color:red">{{ product.name }}</span>
                                this product?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                
                                <a href="{% url 'delete-product' id=product.id %}" type="submit" class="btn btn-dark">Delete</a>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

{% endblock %}

    
    