{% extends 'admin/base.html' %}
{% block content %}


<!--  Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Sales Report</h6>

        </div>


        <h1>Filter and Download Sales Data</h1>

        <form id="salesReportForm" action="{% url 'download_filtered_sales' %}" method="get">
            <select name="sales_report" onchange="handleSelectChange(this)">
                <option value="choose an option">Choose an option</option>
                <option value="curret_month">Current Month</option>
                <option value="last_month">Last Month</option>
                <option value="choose_date">Choose Date</option>
            </select>



            <div id="dateFields" style="display: none;">


                <!-- Date input fields for start and end dates -->
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" required>

                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" required>

                <button type="submit">Download</button>

            </div>
        </form>

    </div>



</div>

{% endblock %}