{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FitPro | Your fitness is our responibilities</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- gLightbox gallery-->
    <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.min.css' %}">
    <!-- Range slider-->
    <link rel="stylesheet" href="{% static 'vendor/nouislider/nouislider.min.css' %}">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="{% static 'vendor/choices.js/public/assets/styles/choices.min.css' %}">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
    <!-- Google fonts-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %} ">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

input[type="radio"] {
    display: none;
}

label.fas.fa-star {
    font-size: 24px;
    color: black;
    cursor: pointer;
}

input[type="radio"][checked] + label.fas.fa-star {
    color: #ff8c00;
}

.product-banner {
    position: relative;
}

.offer-overlay {
    position: absolute;
    left: 148px; 
    bottom: 199px;
   
    background-color: rgba(0, 128, 0, 0.8); 
    color: #fff; /* Text color */
    padding: 5px 10px; 
    border-radius: 5px;
    font-weight: normal;
}

.offer-overlay-indexpage {
    position: absolute;
    bottom: 225px;
    right: 1px;
    background-color: rgba(0, 128, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: normal;

}

</style>


</head>

<body>
    <header class="header bg-white">
        <div class="container px-lg-3">
            <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand"
                    href="index.html"><span style="color: #374FCA;" class="fw-bold text-uppercase ">FitPro</span></a>
                <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <!-- Link--><a class="nav-link active" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <!-- Link--><a class="nav-link" href="{% url 'shop' %}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <!-- Link--><a class="nav-link" href="{% url 'category' %}">Category</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            
                            <a class="nav-link" href="{% url 'cart' %}?all=view"> 
                                <i class="fas fa-dolly-flatbed me-1 text-gray"></i>Cart
                                {% comment %} <small class="text-gray fw-normal">   ( <span id="cart-count"> {% if 'total_cart' not in request.session %} 0 {% else %} {{request.session.total_cart}} {% endif %} </span>) </small></a> {% endcomment %}
                                <small class="text-gray fw-normal">   ( <span id="cart-count"> {% if 'total_cart' not in request.session %} 0 {% else %} {{request.session.total_cart}} {% endif %} </span>) </small></a>
                                    
                                
                                </li>


                        <li class="nav-item"><a class="nav-link" href="{% url 'wishlist' %}"> <i
                                    class="far fa-heart me-1"></i>wishlist<small class="text-gray fw-normal">
                                    (<span class="wishlist-count"> {% if 'wishdata' not in request.session %} 0 {% else %} {{request.session.wishdata|length}} {% endif %} </span>)</small></a></li>







                                     <div class="nav-item dropdown">
                                        {% if 'email' in request.session or 'adminemail' in request.session %}
                                        <a  style ="color:#374FCA;" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                            {% comment %} <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;"> {% endcomment %}
                                           
                                           <span class="d-none d-lg-inline-flex">My Account</span>
                                            
                                        </a>
                
                
                                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                                            <a href="{% url 'myaccount'  %}" class="dropdown-item">My Profile</a>
                                            {% comment %} <a href="#" class="dropdown-item">Settings</a> {% endcomment %}
                                            <a href="{% url 'signout' %}" class="dropdown-item">Log Out</a>
                                        </div>

                                        
                                        {% else %}
                
                                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> <i
                                            class="fas fa-user me-1 text-gray fw-normal"></i>Login</a></li> 
                                        {% endif %} 

                               
                                    </div> 
                                   











            {% comment %} {% if 'email' in request.session%}
                        <li class="nav-item"><a class="nav-link" href="{% url 'myaccount' %}"> <i
                                    class="fas fa-user me-1 text-gray fw-normal"></i>My Account</a></li>

                        {% else %}


                        
                        <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}"> <i
                            class="fas fa-user me-1 text-gray fw-normal"></i>Login</a></li> 
                        {% endif%}  {% endcomment %}


                    </ul>
                </div>
            </nav>
        </div>
    </header>
    
    <div class="container" style = "display: flex;justify-content: end;">
        <div row = "col-lg-2">
        <form style = " width:max-content; color: black" role="search" action = "{% url 'shop' %}" method = 'get'>
            {% csrf_token %}
            <input  type="search" placeholder="product"   minlength="3" name = "product" aria-label="Search" required>
            <button class=" btn-primary searchbtn" type="submit" >Search </button>
          </form>
        </div>
    </div>

    {% block content %}

    {% endblock %}



    <footer class="bg-dark text-white">
        <div class="container py-4">
            <div class="row py-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <h6 class="text-uppercase mb-3">Customer services</h6>
                    <ul class="list-unstyled mb-0">
                        <li><a class="footer-link" href="#!">Help &amp; Contact Us</a></li>
                        <li><a class="footer-link" href="#!">Returns &amp; Refunds</a></li>
                        <li><a class="footer-link" href="#!">Online Stores</a></li>
                        <li><a class="footer-link" href="#!">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <h6 class="text-uppercase mb-3">Company</h6>
                    <ul class="list-unstyled mb-0">
                        <li><a class="footer-link" href="#!">What We Do</a></li>
                        <li><a class="footer-link" href="#!">Available Services</a></li>
                        <li><a class="footer-link" href="#!">Latest Posts</a></li>
                        <li><a class="footer-link" href="#!">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6 class="text-uppercase mb-3">Social media</h6>
                    <ul class="list-unstyled mb-0">
                        <li><a class="footer-link" href="#!">Twitter</a></li>
                        <li><a class="footer-link" href="#!">Instagram</a></li>
                        <li><a class="footer-link" href="#!">Tumblr</a></li>
                        <li><a class="footer-link" href="#!">Pinterest</a></li>
                    </ul>
                </div>
            </div>
            <div class="border-top pt-4" style="border-color: #1d1d1d !important">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start">
                        <p class="small text-muted mb-0">&copy; 2021 All rights reserved.</p>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <p class="small text-muted mb-0">Template designed by <a class="text-white reset-anchor"
                                href="https://bootstrapious.com/p/boutique-bootstrap-e-commerce-template">Bootstrapious</a>
                        </p>
                        <!-- If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!-->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- JavaScript files-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>







     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 

    
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %} "></script>
    <script src="{% static 'vendor/nouislider/nouislider.min.js' %} "></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %} "></script>
    <script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %} "></script>
    <script src="{% static 'js/front.js' %} "></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    

    {% block scripts %}

    {% endblock %}

    <script>
        // Check if the URL contains #addaddressmodal
        $(document).ready(function () {
            if (window.location.hash === "#addaddressmodal") {
                // Open the "Add Address" modal when the page loads
                console.log('ko');
                $('#addaddressmodal').modal('show');
            }
        });
    </script>





    <script>
    // Wait for the DOM to fully load before running the JavaScript
document.addEventListener('DOMContentLoaded', function () {
    // Select all radio buttons with the name "rating"
    const ratingInputs = document.querySelectorAll('input[name="rating"]');
    
    // Function to update the rating based on the selected star
    function updateRating(selectedRating) {
        ratingInputs.forEach((radio, index) => {
            const radioValue = parseInt(radio.value);
            radio.checked = radioValue == selectedRating;
            if (radioValue <= selectedRating) {
                radio.setAttribute('checked', 'checked');
            } else {
                radio.removeAttribute('checked');
            }       
         });
    }
    
    // Initially, check the 3rd radio button (for example, to check the 3rd star)
    const initialRating = -1;
    console.log(initialRating);
    updateRating(initialRating);
    
    
    // Add an event listener to the rating container div
    document.querySelector('#rating').addEventListener('click', function (event) {
        if (event.target.type === 'radio') {
            const selectedRating = parseInt(event.target.value);
            updateRating(selectedRating);
            console.log(selectedRating);
        }
    });
});

      </script>
    
    
    

{% comment %} update to cart - decrease {% endcomment %}







    <script>
    
    
    $(document).on('click', ".addToCartBtn", function(){
    
        var _vm = $(this).closest('.product-container');
        
      
        var _productId = $(this).data('product-id'); // Get product ID from data attribute
    
        console.log( _productId);
    
       //ajax
       $.ajax({
        url: '/add-to-cart',
        data: {
            'id': _productId,
           
        },
        dataType: 'json',
        beforeSend: function(){
            _vm.attr('disabled', true);
        },
        success: function(response) {
            
          
            $('#cart-count').text(response.totallist);
           
        },
        error: function(error) {
            console.log('Error:', error);
        }
       });
    });
    

    </script>





{% comment %} add to wishlist {% endcomment %}


     <script>
      

    $(document).on('click', ".addTowishlistBtn", function(){
        var _vm = $(this).closest('.product-container');
        
       
        var _productId = $(this).data('product-id'); // Get product ID from data attribute
        

        console.log( _productId);

    //ajax
    $.ajax({
        url: '/add-to-wishlist',
        data:{

            'id':_productId,
       
        
        },
        dataType: 'json',
        beforesend:function(){
            _vm.attr('disabled', true)
        },
        success:function(res){
            $(".wishlist-count").text(res.totallist);
            _vm.attr('disabled', false);

        }

    });


    });

    </script> 


{% comment %} wishlist increae {% endcomment %}




{% comment %}  {% endcomment %}
   <script>

    const rangeInput = document.querySelectorAll(".range-input input"),
    priceInput = document.querySelectorAll(".price-input input"),
    range = document.querySelector(".slider .progress");
  let priceGap = 500;
  
  priceInput.forEach((input) => {
    input.addEventListener("input", (e) => {
      let minPrice = parseInt(priceInput[0].value),
        maxPrice = parseInt(priceInput[1].value);
  
      if (maxPrice - minPrice >= priceGap && maxPrice <= rangeInput[1].max) {
        if (e.target.className === "input-min") {
          rangeInput[0].value = minPrice;
          range.style.left = (minPrice / rangeInput[0].max) * 100 + "%";
        } else {
          rangeInput[1].value = maxPrice;
          range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
        }
      }
    });
  });
  
   rangeInput.forEach((input) => {
    input.addEventListener("input", (e) => {
      let minVal = parseInt(rangeInput[0].value),
        maxVal = parseInt(rangeInput[1].value);
  
      if (maxVal - minVal < priceGap) {
        if (e.target.className === "range-min") {
          rangeInput[0].value = maxVal - priceGap;
        } else {
          rangeInput[1].value = minVal + priceGap;
        }
      } else {
        priceInput[0].value = minVal;
        priceInput[1].value = maxVal;
        range.style.left = (minVal / rangeInput[0].max) * 100 + "%";
        range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
      }
    });
  }); 
  

   </script>

   
    <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite - 
        //   see more here 
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {

            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function (e) {
                var div = document.createElement("div");
                div.className = 'd-none';
                div.innerHTML = ajax.responseText;
                document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot 
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>

    <script>
        window.onload = function() {
            const addButton = document.querySelector('#addButton');
            const formForAddress = document.querySelector('#formforaddress');
        
            addButton.onchange = function(e) {
            

                if (e.target.checked){
                    formForAddress.style.display = 'block';
                }
                else{
                    formForAddress.style.display = 'none';
                }

        }    
        
        };
    </script>







</body>

</html>