{% extends 'product/base.html' %}
{% block content %}


<main class="container">
    <!-- HERO SECTION-->
    <section class=" bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Cart</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                            <li class="breadcrumb-item"><a class="text-dark" href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">checkout</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <h2 class="h5 text-uppercase mb-4">Order Status</h2>
        <div class="row">
            <div class="col-lg-8">


                <h3> your order has been successfully placed</h3>

            </div>
            <!-- ORDER TOTAL-->

        </div>
    </section>
</main>
{% endblock %}