{% extends 'product/base.html' %}
{% block content %}
      <!--  Modal -->
      
      <div class="container" id="wishList">
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">Wishlist</h1>
              </div>
              <div class="col-lg-6 text-lg-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                    <li class="breadcrumb-item"><a class="text-dark" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <section class="py-5">
          <h2 class="h5 text-uppercase mb-4">Wishlist</h2>
          <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0">
              <!-- CART TABLE-->
              <div class="table-responsive mb-4">
                {% if messages %}
    
                {% for message in messages %}
                   <p style="color:red;">{{message}}</p>
                {% endfor %}
           
        {% endif %}
                <table class="table text-nowrap">
                  <thead class="bg-light">
                    <tr>
                      <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Product</strong></th>
                      
                      <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase"></strong></th>
                    </tr>
                  </thead>


                  <tbody class="border-0">
                    {% for product in wish_items_list %}
                    <tr>
                        <th class="ps-0 py-3 border-light" scope="row">
                            <div class="d-flex align-items-center">
                                <a class="reset-anchor d-block animsition-link" href="{% url 'productdetail' %}?prodct={{ product.product.name|slugify }}"><img src="{{ product.image }}" alt="{{ product.0.product.name }}" width="70"></a>
                           
                            <div class="ms-3">
                                <strong class="h6"><a class="reset-anchor animsition-link" href="{% url 'productdetail' %}?prodct={{ product.product.name|slugify }}">{{ product.product.name }}</a></strong>
                            </div>
                        </th>


                        <td class="p-3 align-middle border-light">

                          <div class="product-container">
                            <!-- Add to cart button -->
                            <input type="hidden" class="product-id" value="{{product.product.id}}">
                          
                              <div class="input-group-append">
                                <button data-product-id="{{ product.product.id }}" class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0 addToCartBtn">Add to cart</button>
                              </div>
                            
                
                          </div> 

                        
 
                        </td>

                        <td class="p-3 align-middle border-light">
                            <a class="reset-anchor" href="{% url 'wishlist' %}?wishdel={{ product.product.id }}">
                                <i class="fas fa-trash-alt small text-muted"></i>
                            </a>
                        </td>

                        
                    </tr>
                    {% endfor %}
                </tbody>
                
                  
                </table>
                
             

              </div>
              <!-- CART NAV-->
              <div class="bg-light px-4 py-3">
                <div class="row align-items-center text-center">
                  <div class="col-md-6 mb-3 mb-md-0 text-md-start"><a class="btn btn-link p-0 text-dark btn-sm" href="{% url 'shop' %}"><i class="fas fa-long-arrow-alt-left me-2"> </i>Continue shopping</a></div>
                  {% if wish_items_list %}
                  <div class="col-md-6 text-md-end">
                   
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'wishlist' %}?addalltocart=done">Add all to Cart<i class="fas fa-long-arrow-alt-right ms-2">

                    </i></a>
                  
                  </div>
                  {% endif %}
                
                </div>
              </div>
            </div>
            <!-- ORDER TOTAL-->
            
          </div>
        </section>
      </div>


      {% endblock %}
      